<div class="sidebar">
    <h2>MENÚ</h2>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/turnos">Turnos</a></li>
        <li><a href="/pacientes">Pacientes</a></li>
        <li><a href="/obrassociales">Obras Sociales</a></li>
        <li><a href="/doctores">Doctores</a></li>
        <li><a href="/especialidades">Especialidades</a></li>
        <li><a href="/users/panel">Cambiar Contraseña</a></li>
        <li><a href="/auth/logout">Cerrar Sesión</a></li>
    </ul>
</div>



