<!DOCTYPE html>
<html lang="es">

<head>
    <% include ./partials/header %>  

    <title>Consultorios Sagrada Familia</title>
</head>

<body>
    <%include ./partials/menu %>

    <div class="contenido abrir">
        <i id="menu-bar" class="fas fa-bars fa-2x"></i>
        <div class="container">
            <% if (isAuthenticated){ 
                    if(user.rol == 'doctor'){%>
                        <p>Bienvenido/a Dr./Dra.  <%=user.name%></p>
                    <%} else{   
            %>

                <p>Bienvenido/a  <%=user.name%></p> 
            <%}}%>            
            <div class="row">
                <div class="col-12">
                    <img src="/img/logo.png">
                </div>
            </div>
            
            
        </div>
        
    </div>

    <script src="/js/abrirMenu.js"></script>
</body>

</html>